{% extends 'base.html' %}

{% block title %}TravelWonders{% endblock %}

{% block content %}

    {% for hotel in hotel_list %}
        <h1>{{hotel.name}}</h1>
        <p>{{hotel.country}}, {{hotel.city}}</p>
        <p>{{hotel.star}} звезды</p>
        <p>{{hotel.tourr}} туров</p>
        <p>от {{hotel.price}} р</p>
        <a href="#">Подробнее об отеле</a>
        <a href="{% url 'tours:tour_list' %}">Показать туры ></a>
        <p>
            <img src="{{hotel.image.url}}" width="421" height="322">
        </p>
    {% endfor %}

{% endblock %}